 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
}

header {
  text-align: center;
  margin-bottom: 60px;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.divider {
  margin-top: 20px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  display: flex;
  gap: 30px;
  align-items: center;
}

.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
}

.content h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.date {
  font-size: 0.9rem;
  color: #666;
  margin-left: 20px;
}

@media screen and (max-width: 500px){
  .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .card img {
    width: 120px;
    height: 120px;
  }

  header h1 {
    font-size: 2rem;
  }

  .content h2{
    margin-left: 0px;
  }

  .date{
    margin-left: 0px;
  }
}


.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}